@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,700");
.n-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    border-style: solid;
    border-radius: 10px;
    margin: 10px;
    border-color: black;
    background: rgba(0, 0, 0, 0.9);
    box-shadow: rgba(0, 0, 0, 0.8) 0px 7px 29px 0px;
    font-family: "Poppins";
}
    
.n-color{
    color: white;
}


.n-color:hover{
    color: #DDAD43;
}

.n-h2{
    margin-left: 10px;
    color: white;
}

.div-navLinks{
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-around;
}

@media screen and (max-width:800px) {
    .n-div{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .div-navLinks{
        display: flex;
        
        
    }
    .n-h2{
        font-size: 20px;
        
    }
    .n-h4-L{
        margin-right: 10px;
    }
}

