.ca-form{
    display: flex;
    flex-direction: row;
    padding-left: 432px;
    padding-right: 432px;
}

.ca-div{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    padding: 150px;
    margin-top: 5px;
    margin-bottom: 10px;
    background: rgba(207, 162, 27, 0.73);
    color: white;
}

label {
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}