@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,700");
.ca-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Poppins";
}

.ca-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-style: solid;
    width: 60%;
    border-radius: 10px;
    margin-top: 5px;
    border-color: black;
    background: rgba(0, 0, 0, 0.9);
    box-shadow: rgba(0, 0, 0, 0.8) 0px 7px 29px 0px;
    color: white;
    padding-bottom: 10px;
}

label {
    color: white;
    font-family: "Poppins";
    font-size: 20px;
}

.ca-column{
    display: flex;
    flex-direction: column;
}

.ca-row {
    display: flex;
    justify-content: row;
}

.ca-bt-delete{
    color: white;
    background-color: red;
    margin-top: 10px;
    border-radius: 5px;
    border-color: white;
}

.ca-p-delete{
    margin-top: -1px;
}

.ca-bt-submit{
    color: white;
    background-color: black;
    margin-top: 15px;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    padding: 10px;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: bold;
}

.ca-bt-submit:hover{
    color: black;
    background-color: #DDAD43;
    border-color: black;
}

.ca-input{
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    width: 50%;
    margin-left: 25%;
    height: 20px;
    cursor: pointer;
}

.errors{
    color: red;
    text-shadow: 0px 0px 1px black;
    margin: 0px;
}