.ca-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ca-h2{
    margin-top: -30px;
}

.ca-div{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    padding: 150px;
    margin-top: 5px;
    margin-bottom: 10px;
    background: rgba(207, 162, 27, 0.73);
    color: white;
}

label {
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}

.ca-column{
    display: flex;
    flex-direction: column;
}

.ca-row {
    display: flex;
    justify-content: row;
}

.ca-bt-delete{
    color: white;
    background-color: red;
    margin-top: 10px;
    border-radius: 5px;
    border-color: white;
}

.ca-p-delete{
    margin-top: -1px;
}

.ca-bt-submit{
    color: white;
    background-color: black;
    margin-top: 15px;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    padding: 10px;
    cursor: pointer;
}

.ca-input{
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    cursor: pointer;
}

.errors{
    color: red;
    text-shadow: 0px 0px 1px black;
}