@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,700");
.cc-div{
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    background: rgba(0, 0, 0, 0.9);
    box-shadow: rgba(0, 0, 0, 0.8) 0px 7px 29px 0px;
    width: 200px;
    margin-bottom: 5px;
    height: 250px;
    margin-right: 5px;
    font-family: "Poppins";
}

.cc-div:hover{ 
    border-color: white;
    background: rgba(6, 6, 5, 0.73);
}
.cc-img{
    border-radius: 10px;
    width: 90%;
    height: 120px;
}

.cc-color{
    color: white;
}


.cc-h2{
    height: 15%;
}