.cc-div{
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    background: rgba(207, 162, 27, 0.73);
    width: 200px;
    margin-bottom: 5px;
    height: 250px;
    margin-right: 5px;
}

.cc-img{
    border-radius: 10px;
    width: 90%;
    height: 120px;
}

.cc-color{
    color: white;
}

.cc-h2{
    height: 15%;
}