ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    margin-left: -35px;
    margin-right: 10px;
}

li {
    width: 25px;
    padding: 10px;
    margin: 5px;
    border: solid;
    border-radius: 15px;
    border-color: white;
    background-color: rgba(207, 162, 27, 0.73);
    color: white;
    font-family: sans-serif;
    
}

li:hover{
    cursor: pointer;
}