@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,700");
.s-color{
    color: white;
    font-family: sans-serif;
}

.s-div{
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    background: rgba(0, 0, 0, 0.9);
    box-shadow: rgba(0, 0, 0, 0.8) 0px 7px 29px 0px;
    font-family: "Poppins";
    width: 20%;
    margin-left: 10px;
    height: 510px;
}

.s-column{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.s-order{
    margin-top: 10px;
    margin-bottom: 10px;
}

.s-input{
    width: 77%;
    margin-left: 10%;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-color: black;
    color: black;
    font-weight: bold;
    font-family: "Poppins";
    background-color: #DDAD43;
}

.s-bt{
    color: white;
    background-color: black;
    border-style: solid;
    border-radius: 10px;
    border-color: white;
    padding: 5px;
    cursor: pointer;
    width: 80%;
    margin-left: 10%;
    font-weight: bold;
}

.s-bt:hover{
    color: black;
    background-color: #DDAD43;
    border-color: black;
    font-weight: bold;
}

.s-label{
    margin-bottom: 5px;
    margin-top: 5px;
}